.cont0left {
    width: 560px;
    padding-right: 40px;
    float: left;
}

h2.custom {
	color: #444;
    font-weight: normal;
    font-size: 34px !important;
    margin: 0 0 0 0 !important;
    font-family: 'Segoe UI',"Open Sans Light",X-LocaleSpecific-Light,"Open Sans",X-LocaleSpecific,sans-serif;
}

p.beta {
	font-size:16px; 
	color:#05a3e5; 
	margin:8px 0 0 0; 
	font-family:Arial, sans-serif;
}
.introtxt2 {
	font-size:22px; 
	color:#808080; 
	font-style:italic; 
	margin-top:20px;
}

.lst03 {
    list-style: none;
    margin: 20px 0 0 5px;
    padding: 0;
}

.lst03 li {
    background: url(../images/ic_chk.gif) no-repeat 0 3px;
    padding: 0 0 15px 25px;
    font-size: 15px;
}

.btn01b {
	font-size: 22px;
    text-align: center;
    line-height: 26px;
    width: 170px;
    height: 50px;
    padding-top: 10px;
    margin: 25px 30px 30px 0;
}

.btn01b span {
    font-size: 14px;
    color: #9fe6ff;
}

.cont05 {
    width: 220px;
    float: left;
    text-align: center;
    margin: 10px 5px 0 0;
}

.cus-min-height-body{
	min-height: 500px !important;
}

.cus-min-height-module{
	min-height: 460px !important;
}
.popup_bg {
    position: absolute;
    visibility: hidden;
    height: 100%;
    width: 100%;
    filter: alpha(opacity=80);
    opacity: 0.8;
    left: 0px;
    top: 0px;
    background-color: #000;
    z-index: 999999;
}


.popup {
    position: absolute;
    z-index: 99999999;
}

.btnLogin{
 color: #008fe5 !important;
 cursor: pointer;
}

.oa-icon {
    background-image: url(../images/oa-icon.png) !important;
    position: absolute;
    top: 25px;
    left: 0;
    background-size: 28px 28px;
    width: 28px;
    height: 28px;
}

.zhear-menu {
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
}


